NET "button<0>" LOC = P51 | IOSTANDARD = LVTTL | PULLUP;
NET "button<1>" LOC = P41 | IOSTANDARD = LVTTL | PULLUP;
NET "button<2>" LOC = P66 | IOSTANDARD = LVTTL | PULLUP;
NET "button<3>" LOC = P57 | IOSTANDARD = LVTTL | PULLUP;
NET "button<4>" LOC = P27 | IOSTANDARD = LVTTL | PULLUP;